.border{
	flex:1;
}
.container1{/*Container with bottom border*/
	display:flex;
	border-bottom-style:solid;
}
.container2{/*Container without bottom border*/	
	display:flex;
}
.container3{/*Container for tool bar: uses justify content to move options to the right of the screen*/
	display:flex;
	width:100%;
	justify-content:flex-end;
	background-color:LightSkyBlue;
}
.box-tool-bar{
	width:75%;
	text-align:right;
}	
	
	
.box-one-line{
	flex:3;
	text-align:center;
}
.box-text{/*3 columns per section of CV*/
	flex:1;
	text-align: left;
	padding-right:109x;
}
.box-pic{
	flex:1;
	text-align:center;
}
.container-end{
	display:flex;
	background-color:LightSkyBlue;
	text-align:center;
}
.box-header{
	flex:6;
	text-align:center;
}
.box-text-top{
	flex:3;
	text-align: left;
}
body{
	font-size:100%;
	color:black;
	font-family:Verdana;
}
#name{
	font-family:Verdana;
	font-size:300%;
	text-shadow:2px 2px 8px gray;
}
h1{
	text-shadow:2px 2px 8px gray;
}
h2{
	font-size:120%;
}
ul.vertical-list{
  display: inline-block;
  text-align: left;
  list-style-type: square;
}
@media(max-width:1000px){/*media query changes container direction to column to make CV easier to read in smaller width screens*/
	.container1{
	display:flex;
	align-items:flex-centre;
	justify-content:space-between;
	border-bottom-style:solid;
	flex-direction:column;
	}
	.container2{	
	display:flex;
	align-items:flex-centre;
	justify-content:center;
	flex-direction:column;
	}
	.container3{	
	display:flex;
	width:100%;
	justify-content:flex-center;
	background-color:LightSkyBlue;
	}
	.box-tool-bar{
	width:100%;
	text-align:center;
	}
}
